@model ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Selamlar</title>
</head>
<body>
    <div>
        @foreach (var item in Model.Products)
        {
            <b>@item.ProductName</b>
            <hr />
        }
    </div>
</body>
</html>